<header id="header">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <h1><span class="glyphicon glyphicon-glass" aria-hidden="true"></span> Barbera <small>Index and organise your wine cellar</small></h1>
      </div>
    </div>
  </div>
</header>
<app-navbar></app-navbar>
<router-outlet></router-outlet>
<footer id="footer" class="navbar-fixed-bottom">
  <div class="container">
    <p>I hope you enjoy this site!</p>
    <p>Gustav Ehrenborg</p>
    <a href="https://ehrenb.org">ehrenb.org</a>
  </div>
</footer>
